.custom-antd-select {
  .ant-select-selector {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0 !important;
  }
}

.ant-form-item-control:has(.custom-antd-select) .ant-form-item-explain-error {
  margin-right: 4px !important;
}

.ant-otp-input-wrapper input {
  width: 56px;
  height: 56px;
  box-sizing: border-box;
}
