@import 'tailwindcss';

:root {
  --primary-color: #18294d;
  --secondary-color: #d2d2d2;
}

@theme {
  --color-bookie-blue: var(--primary-color);
  --color-bookie-gray: var(--secondary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary-color: #18294d;
    --primary-color: #d2d2d2;
  }
}

body {
  touch-action: manipulation;
  color: var(--primary-color);
}

/* Custom utility classes */
@layer utilities {
}
